@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--desaturated-blue-main-background-1);
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 85%;
  font-size: 1.6rem;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

:root {
  /* Backgrounds 1*/
  --desaturated-blue-main-background-1: hsl(222, 26%, 31%);
  --desaturated-blue-toggle-keypad-background-1: hsl(223, 31%, 20%);
  --desaturated-blue-screen-background-1: hsl(224, 36%, 15%);

  /* Backgrounds 2*/
  --light-gray-main-background-2: hsl(0, 0%, 90%);
  --grayish-red-toggle-keypad-background-2: hsl(0, 5%, 81%);
  --very-light-gray-screen-background-2: hsl(0, 0%, 93%);

  /* Backgrounds 3*/
  --very-dark-main-background-3: hsl(268, 75%, 9%);
  --very-dark-toggle-keypad-background-screen-3: hsl(268, 71%, 12%);

  /*  Keys 1*/
  --desaturated-dark-blue-key-background-1: hsl(225, 21%, 49%);
  --dark-blue-key-shadow-1: hsl(224, 28%, 35%);

  --red-key-background-toggle-1: hsl(6, 63%, 50%);
  --dark-red-key-shadow-1: hsl(6, 70%, 34%);

  --light-grayish-key-background-1: hsl(30, 25%, 89%);
  --grayish-orange-key-shadow-1: hsl(28, 16%, 65%);

  /*  Keys 2*/
  --dark-moderate-cyan-key-background-2: hsl(185, 42%, 37%);
  --very-dark-cyan-key-shadow-2: hsl(185, 58%, 25%);

  --orange-key-background-toggle-2: hsl(25, 98%, 40%);
  --dark-orange-key-shadow-2: hsl(25, 99%, 27%);

  --light-grayish-yellow-key-background-2: hsl(45, 7%, 89%);
  --dark-grayish-orange-key-shadow-2: hsl(35, 11%, 61%);

  /*  Keys 3*/
  --dark-violet-cyan-key-background-2: hsl(281, 89%, 26%);
  --vivid-magenta-key-shadow-2: hsl(285, 91%, 52%);

  --pure-cyan-key-background-toggle-2: hsl(176, 100%, 44%);
  --soft-cyan-key-shadow-2: hsl(177, 92%, 70%);

  --very-dark-key-background-2: hsl(268, 47%, 21%);
  --dark-magenta-key-shadow-2: hsl(290, 70%, 36%);

  /*  Text */
  --very-dark-blue-1: hsl(221, 14%, 31%);
  --very-dark-grayish-txt-2: hsl(60, 10%, 19%);
  --light-yellow-txt-3: hsl(52, 100%, 62%);
  --very-dark-blue-txt-3: hsl(198, 20%, 13%);
  --white: rgb(255, 255, 255);
}

.app {
  height: 60rem;
  width: 32.5rem;
  max-height: 60rem;
  max-width: 32.5rem;
}
.header-app {
  width: 100%;
  height: 5rem;
  max-height: 5rem;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2.9rem;
}
.logo {
  flex: 1 0 0;
}
.logo h1 {
  color: var(--white);
  font-size: 3.1rem;
  padding-top: 0.6rem;
}
.themes {
  height: 100%;

  flex: 1 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.theme-header {
  height: 100%;
  flex-basis: 56%;
}
.themes h5 {
  color: var(--white);
  position: relative;
  left: 2.2rem;
  top: 2.8rem;
  font-size: 1.2rem;
}
.themes-options {
  flex-basis: 44%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.theme-num {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  top: 0.3rem;
  left: 0.2rem;
}
.theme-num h6 {
  font-size: 1.1rem;
  color: var(--white);
}
.theme-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5rem;
  background-color: var(--desaturated-blue-toggle-keypad-background-1);
  padding: 0 0.5rem;
  max-height: 2.5rem;
  height: 100%;
  position: relative;
  top: -0.3rem;
}
.theme-button .th-btns {
  background-color: transparent;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  scale: 1.2;
  z-index: 99;
}

.screen-app {
  background-color: var(--desaturated-blue-screen-background-1);
  width: 100%;
  height: 8.6rem;
  padding: 2rem 2.5rem;
  margin-bottom: 2.6rem;
  border-radius: 1rem;
}
.screen-inputs {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0.5rem;
}
.screen-input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--white);
  font-size: 3rem;
  font-weight: 700;
  text-align: right;
  font-family: "Spartan", sans-serif;
}
#screen-input2 {
  position: relative;
  top: -4.5rem;
}
.calc-state {
  text-align: left;
  font-size: 1rem;
}
.options-app {
  background-color: var(--desaturated-blue-toggle-keypad-background-1);
  width: 100%;
  height: 41.3rem;
  border-radius: 0.1rem;
}
.calc-container {
  width: 100%;
  height: 100%;
  padding: 2.2rem 2.25rem 1.5rem 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.calc-options {
  width: 100%;
  height: 78%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 1.2rem;
  grid-column-gap: 1.2rem;
}
.btn div {
  color: var(--white);
}
.btn {
  background-color: var(--light-grayish-key-background-1);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -3.5px 0 inset var(--grayish-orange-key-shadow-1);
}

.calc-options button:nth-of-type(4) {
  background-color: var(--desaturated-dark-blue-key-background-1);
  box-shadow: 0px -3.5px 0 inset var(--dark-blue-key-shadow-1);
}
.num {
  font-size: 3rem;
  font-family: "Spartan", sans-serif;
  position: relative;
  top: 0.2rem;
}
.calc-options button div {
  color: var(--very-dark-blue-1);
  font-weight: 700;
}
.calc-options button:nth-of-type(4) div {
  font-family: Spartan, sans-serif;
  font-size: 1.8rem;
  color: var(--white);
  position: relative;
  top: -0.35rem;
}

.btn:not(:nth-of-type(4)) .option {
  font-size: 2.4rem;
}
.calc-and-reset-options {
  width: 100%;
  height: 16.5%;
  position: relative;
  top: -0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset,
.calc {
  height: 100%;
  flex: 0 0 48%;
  font-family: Spartan, sans-serif;
  font-weight: 700;
}
.calc div,
.reset div {
  position: relative;
  top: -0.3rem;
}
.reset {
  background-color: var(--desaturated-dark-blue-key-background-1);
  box-shadow: 0px -3.5px 0 inset var(--dark-blue-key-shadow-1);
  font-size: 1.8rem;
}
.calc {
  background-color: var(--red-key-background-toggle-1);
  box-shadow: 0px -3.5px 0 inset var(--dark-red-key-shadow-1);
  font-size: 1.7rem;
}

@media screen and (min-width: 1440px) {
  .app {
    height: 71.5rem;
    width: 54rem;
    max-height: 71.5rem;
    max-width: 54rem;
  }
  .themes-options {
    flex-basis: 24%;
  }
  .themes h5 {
    color: var(--white);
    position: relative;
    left: 14rem;
  }
  .screen-app {
    height: 13rem;
    padding: 2rem 2.5rem;
    margin-bottom: 2.6rem;
    border-radius: 1rem;
  }
  .screen-inputs {
    position: relative;
    top: 2.5rem;
  }
  .options-app {
    height: 48rem;
  }
  .calc-container {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
  }
  .calc-options {
    width: 100%;
    height: 78%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    padding-bottom: 1rem;
  }
  .calc div,
  .reset div {
    position: relative;
    top: 0;
  }
}
